body {
    padding: 10px;
}
h2 {
    color   : black;
}
pretty_boxes {
    color : rgb(8, 21, 29);
    border: 8px darkblue;
    border-radius: 5%;
    padding: 2.5%;

}
p {
    font-weight: normal;
    font-style: inherit;
}