body {
    padding: 10px;
}
h2 {
    color   : black;
}
h1 {
    color   : red;
}
pretty_boxes {
    color : rgb(8, 21, 29);
    border: 8px rgb(7, 7, 44);
    border-radius: 5%;
    padding: 2.5%;

}
p {
    font-weight: bold;
    font-style: inherit;
    font-size: larger   ;
}