{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <p>Welcome back</p>

    
    <h1>TODO</h1>
    <ul>
        <li style: color ="red" >Place Bid</li>
        <li>sql databases can be added to using commands in command prompt when utilising the django framework</li>
        <li> Another list element</li>
        <li> to change the colour of elements in a list use css. i dont think you can natively change colour even for normal text in HTML</li>
        <li> A type of sql attack is a sql injection</li>
	    <li> Databases can be joined </li>
	    <li> PATHWAY FOR AUCTIONS</li>
	    <li> Kubernetics</li>
	    <li> CS50w</li>
	    <li> Dockers</li>
	    <li> API's</li>
	    <li> Scrum</li>
	    <li> Scrum framework</li>
	    <li> SQL</li>
	    <li> SQLite3</li>
	    <li> SQLite</li>
	    <li> NoSQL</li>
	    <li> MongoDb</li>
	    <li> JavaScript can be used natively </li>
	    <li> turining database objects into strings is a usefull way of making data more readable.</li>
	    <li color = "blue"> hello</li>
	    <li> Databases in sql can be told what section to look for an enquiry in by using a full stop </li>
	    <li> Databases can be joined and searched through using sql </li>
	    <li> make hashes explaining purpose of every function in views file for clearer understanding </li>
	    <li> user input fields can often be adapted to fit intended use case</li>
    </ul>

{% endblock %}