{% extends "auctions/layout.html" %}


{% block body %}
<!-- from cs50 chatbot on removing buttons after pressed, doesn't currently work -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("Form1").addEventListener("submit", function(){
            document.getElementById("Button1").style.display = 'none';
            });
        });
    </script>
    <h2>Listing</h2>
	<ul>
        <li><h2>{{ listing.title }}</h2>
        <img src="{{ listing.image.url }}" style="max-width: 300px; max-height: 300px;">
        <p>{{ listing.description }}</p>
        <p>Posted by: {{ listing.user }}</p>
        <p>On sale: {{ listing.is_open}}</p>
        <p>Category: {{ listing.category }}</p>
        <p>Initial Bid: £{{ listing.initial_bid }}</p>
        <p>Current Bid: £{{ listing.current_bid }}</p>
        {% if listing.winner %}
            <p>The winner is: {{ listing.winner.username }}</p>
        {% else %}
            <p>  </p>
        {% endif %}
        <form method="post" action="{% url 'auction_closed' listing_id=listing.id %}">
            {% csrf_token %}
            <button type = "submit">Close Bid</button>
        </form>
        <form action="{% url 'a2w' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Add to Watchlist</button>
        </form>
        <form method="post" action="{% url 'current_price' listing.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.bid_amount.errors }}
            {{ form.bid_amount.label_tag }}
            {{ form.bid_amount }}
            <button type = "submit">Enter Bid</button>
        </form>
            <form method="post" id = "Form1" >
                {% csrf_token %}
                {{ form }}
                <button id = "Button1" type = "submit" >Save Comment</button>
            </form></li>
        <p>
            {% for comment in listing.comments.all %}
                <li>Comment: {{ comment.comment }}</li>
            {% endfor %}
        </p>
	</ul>
{% endblock %}